QMenuBar {
    background-color: palette(base);
    spacing: 3px; /* spacing between menu bar items */
    border-bottom: 1px solid black;
}

QMenuBar::item {
    padding: 5px 5px;
    background: transparent;
}

QMenuBar::item:selected { /* when selected using mouse or keyboard */
    background: palette(midlight);
}

QMenuBar::item:pressed {
    background: palette(dark);
}